{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <p>Welcome to the Django fundamentals course. This site was made with <a href="#">Pluralsight</a></p>
        <p><a href="{% url 'boardgames_login' %}">Click here to login</a> or <a href="#">Sign up!</a></p>
    </div>
{% endblock content %}