{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Boardgames demo app{% endblock title%}</title>
    {% block styling %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}">
    {% endblock styling %}
</head>
<body>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'boardgames_logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'boardgames_login' %}">Login</a></li>
        {% endif %}
    </ul>
    <div class="container">
        {% block content%}
        {% endblock content %}
    </div>
    {% block javascript %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
    {% endblock javascript%}
</body>
</html>